body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    background-color: #ffffff;
}

#page {
    width: 100%;
    text-align: center;
    font-weight: 400;
}

#page ul {
    margin: 0;
    padding-left: 30px;
    text-align: left;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.inside {
    max-width: 840px;
    padding: 40px 0 100px 10px;
    font-size: 17px;
}

.logo {
    font-family: 'Work Sans', sans-serif;
    font-weight: 900;
    font-size: 50px;
}

#img-total-downloads-count {
    height: 20px;
}

.vh100 {
    height: 100vh;
    justify-content: center;
}

.vh100 .inside {
    padding-bottom: 10vh;
}

h1 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    font-size: 50px;
}

a, a:link, a:hover {
    text-decoration: none;
    color: #08c;
}

a:hover {
    text-decoration: underline;
}

.color1 {
    background-color: #e6e6e6;
    color: #000000;
}

.color1 a:hover {
    text-decoration: underline;
}

.color2 {
    background-color: white;
    color: black;
}

.color3 {
    background-color: rgb(92, 139, 191);
    color: white;
}

.color4 {
    background-color: rgb(191, 82, 82);
    color: white;
}

.p {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
}

#download .inside {
    padding-bottom: 40px;
}

#download > div > div.p {
    padding-bottom: 30px;
}