<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>freeshuttercounter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7C15927C1C9EC97500AFEDF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C1592921C9EC97600AFEDF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7C15929D1C9EC97600AFEDF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
